body{
    background-color: rgb(238, 238, 238);
}
header{
    display: flex;
    justify-content: space-between;
    padding: 1em;
}
#header-img{
    width: 250px;
}
#nav-bar{
    display: flex;
    justify-content: flex-end;
    gap: 50px;
}

section{
    margin: 100px auto;
    max-width: 900px;
}
#features .grid{
    margin-bottom: 2em;
}
#how-it-works{
    text-align: center;
}
#pricing{
    display: flex;
    justify-content: space-between;
}
.cta{
    margin: 2em auto 0.5em;
    text-align: center;
}
.cta{
    margin: 2em auto 0.5em;
    text-align: center;
}
form{
    margin: 0 auto 5em;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 250px;
    gap: 1em;
}
#submit{
    background-color: yellow;
}